.favorites-page {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;

  .page-intro__title {
    text-align: left;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    color: #fb8500;
    text-align: left;
    margin-bottom: 2rem;
  }

  .event-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    justify-items: center;
  }

  .event-card {
    background: #fff;
    border-radius: 0.5rem;
    padding: 0rem;
    text-align: center;
    width: 320px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img.event-card-image {
      width: 100%;
      height: 150px;
      object-fit: cover;

      border-radius: 0.5rem 0.5rem 0 0;
      margin-bottom: 0.5rem;
      display: block;
    }

    h3 {
      font-size: 1rem;
      font-weight: 600;
      margin: 0.5rem 0;
    }

    p {
      font-size: 0.9rem;
      color: #777;
      margin-bottom: 0.5rem;
    }

    .btn-secondary {
      display: inline-block;
      background: #fb8500;
      color: #fff;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      text-decoration: none;
      font-size: 0.9rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      transition: background 0.2s;
      margin: 1rem 1rem;

      &:hover {
        background: darken(#FB8500, 10%);
      }
    }
  }

  /* RESPONSIVE */
  @media (max-width: 992px) {
    .event-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 576px) {
    .event-cards {
      grid-template-columns: 1fr;
    }
  }
}
