<section class="event-suggestions">

<h2 class="title-map">Les événements autour de toi</h2>
<div class="container">
  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-user-marker-value="<%= @user_marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</section>

</div>

  <section class="event-suggestions">
    <h2 class="title-suggestion">Les  événements qui pourraient vous intéresser autour de vous</h2>
    <div class="event-cards">
      <% if @events.any? %>
        <% @events.each do |event| %>
          <%= render "events/show-card", event: event %>
        <% end %>
      <% else %>
        <em>Désolé, aucun événement n'a été trouvé.</em>
      <% end %>
    </div>
  </section>
