.choose-date {
  padding: 20px 20px;

  .container {
    margin: 0 auto;
  }

  &__title {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 30px;
    color: #84A59D;
    max-width: 1100px;
    margin: 0 auto 32px;
    padding: 0 24px;

  }


  &__subtitle,
  &__subtitle--extra {
    font-size: 16px;
    color: #000; // noir
    margin-bottom: 8px;
    text-align: left;
    max-width: 1100px;
    margin: 0 auto 32px;
    padding: 0 24px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center; // centre les champs + bouton
    margin-top: 20px;
  }

  &__fields {
    display: flex;
    gap: 20px; // espace entre les deux champs
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__field {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 5px;
      font-weight: 500;
    }
    input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }
  }

  &__cta {
    background-color: #B88E2F;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background-color: #B88E2F;
      opacity: 0.5;
    }
  }
}
