.header-container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center; // centre le logo
  align-items: center;

  .logo-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: auto;
  }

  .user-icon {
    position: absolute;
    right: 80px; // distance depuis le bord droit
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
      fill: #262626;
      transition: fill 0.3s ease, transform 0.3s ease;
    }

    &:hover svg {
      fill: #fb8500;
      transform: scale(1.1);
    }
  }

  .favorites-link {
    position: absolute;
    right: 20px; // plus proche du bord droit que le user
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
      fill: #262626;
      transition: fill 0.3s ease, transform 0.3s ease;
    }

    &:hover svg {
      fill: #fb8500;
      transform: scale(1.1);
    }
  }
}
