.event-suggestion {
  h1{
font-size: clamp(1.5rem, 4vw, 2.5rem);
white-space: nowrap;
}
.event-card {
  background: #fff;
  border-radius: 0.0rem;
  padding: 1rem;
  text-align: center;
  width: 220px; /* taille fixe pour les cards */
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img.event-card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 0.0rem;
    margin-bottom: 0.5rem; // espace entre image et titre
    display: block;
  }

  h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0.5rem 0; // espace entre titre et description
  }

  p {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 0.5rem;
  }

  .btn-secondary {
    display: inline-block;
    background: green;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 0.9rem;
    margin-top: auto;
    transition: background 0.2s;

    &:hover {
      background: darken(#FB8500, 10%);
    }
  }
}
}
